@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --font-family: 'Rubik', sans-serif;
}

body {
    background: rgba(0, 46, 72, 1); 
}

.container {
    width: 100vw;
    height: 100vh; 
    margin: auto;
}

.innercontainer {
    width: 90%;
    margin: auto;
    padding: 50px; 
    display: flex;
    flex-direction: row;
    Stroke: Linear 
    #84592C 0%
    rgba(30, 10, 1, 0.32) 100%;
}

.cardone {
    width: 65%;
    margin: auto;
    background-color:rgba(0, 80, 124, 0.2);
    border: 35px solid transparent;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

section h1 {
    color: rgba(255, 255, 255, 0.85);
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.signin {
width: 60%;
display: flex;
margin: auto;
flex-direction: column;
justify-content: center;
align-items: center;
}

::placeholder {
  color: #00507C;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}
  
.input-icons {
    width: 100%;
    margin: auto;
}
   
    
.input-field {
    color: #00507C;
    width: 108%;
    padding: 16px;
    margin: 7px;
    text-align: left;
    border: transparent;
    border-radius: 25px;
}

.terms {
    width: 100%;
    margin: auto;
    margin-top: 7px;
    color: white;
    /* text-align: center; */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px; 
}

span {
    width: auto;
    color: rgb(194, 52, 0);
}

.createaccount {
    width: 80%;
    margin: auto;
    display: flex; 
    flex-direction: column; 
    justify-content:center; 
    align-items:center;
    padding: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
} 

.createaccount button {
    width: 70%;
    padding: 15px;
    margin: auto;
    color: white;
    background-color: rgba(24, 82, 242, 1);
    border: transparent;
    border-radius: 4px;
    margin-bottom: 25px;
}

.createaccount p {
    color: white;
}

.cardtwo {
    width: 35%;
    background-image: url("./loginimages/unsplash_HAAsKeZbHAc.svg");
    border: 35px solid transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
}

.discover {
    color: rgba(229, 229, 229, 1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.imags {
    background-image: url(./loginimages/Eclipse.svg);

}
.coins {
    width: 60.8%;
    height: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
}

.coins>img {
    width: 100%;
} 

.earth {
    width: 100%;
    height: 100%;
    margin-left: 35px;
    margin-top: -80px; 
}

.earth img {
    width: 100%;
    height: 100%;
}





@media screen and (max-width: 868px) {
    
    .cardone {
        width: 100%;
        border-radius: 35px;
    }

    .cardtwo {
        display: none;
    }
    
    section h1 {
        font-size: 32px;
        margin: auto;
        margin-bottom: 15px;
        text-align: center;

    }
    
    .createaccount button {
        width: 90%;
        padding: 10px;

    }

    .terms {
        width: 90%;
        font-size: 12px;
        text-align: center;
        margin: auto;
        margin-top: 13px;
    }

    .input-field {
        padding: 14px;
    }


    .createaccount p{
        text-align: center;
    }
    .createaccount button {
        padding: 13px;
    }

    .createaccount {
        font-size: 10px;
    }

    #terms {
        width: 18px;
    }
    
    

}


@media screen and (max-width: 478px) {

    .innercontainer {
        width: 100%;
    }


    .signin {
        margin: 0;
        width: 90%;
    }

    section h1 {
        font-size: 28px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .input-field {
        padding: 12px;
    }

    .createaccount button {
        width: 85%;
        padding: 9px;
        font-size: 10px;
    }

}